@model ProductModel
@{
    ViewData["Title"] = "Edit Product";
    TempData["Price"] = Model.Price.ToString();
    TempData["OldPrice"] = Model.oldPrice.ToString();
    List<SelectListItem> items = [];
    Model.CategoryList.ForEach(c =>
    {
        if (c.Id == Model.CategoryId)
        {
            items.Add(new SelectListItem(c.Name, c.Id.ToString(), true));
        }
        else
        {
            items.Add(new SelectListItem(c.Name, c.Id.ToString()));
        }
    });
}

<div class="justify-content-center" style="padding-bottom:250px;">
    @using (Html.BeginForm("Edit", "Product", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <h3>Sửa thông tin sản phẩm</h3>
        @if (TempData["Notify"] != null)
        {
            <div class="alert alert-success" role="alert">
                @TempData["Notify"]
            </div>
        }
        <div class="form-group">
            @Html.Label("Tên sản phẩm")
            @Html.TextBox("Name", Model.Name, new { @class = "form-control", placeholder = "Nhập tên sản phẩm" })
        </div>

        <div class="form-group">
            @Html.Label("Danh mục sản phẩm")
            @Html.DropDownList("CategoryId", items, "Chọn danh mục")
        </div>

        <div class="form-group">
            @Html.Label("Thương hiệu")
            @Html.TextBox("Brand", Model.Brand, new { @class = "form-control", placeholder = "Nhập thương hiệu" })
        </div>

        <div class="form-group">
            @Html.Label("Số lượng")
            @Html.TextBox("Quantity", Model.Quantity, new { @class = "form-control", type = "number", placeholder = "Nhập số lượng" })
        </div>

        <div class="form-group">
            @Html.Label("Ngày nhập")
            @Html.TextBox("Date_Import", Model.Date_Import.ToString("yyyy-MM-dd"), new { @class = "form-control", type = "date" })
        </div>

        <div class="form-group">
            <label style="display:flex">Giá Gốc: @Model.oldPrice.ToString("c0", new CultureInfo("vi-VN"))</label>
            @Html.Label("Giá hiện tại")
            @Html.TextBox("Price", Model.Price, new { @class = "form-control", type = "number", step = "1", placeholder = "Nhập giá" })
        </div>

        <div class="form-group">
            @Html.Label("Mã giảm giá (%)")
            @Html.TextBox("Coupon", Model.Coupon, new { @class = "form-control", placeholder = "Mã giảm giá" })
            <input type="number" asp-for="Discount" max="100" min="0" style="color: black; width: 60px;" step="1" />
        </div>

        <div class="form-group">
            @Html.Label("Mô tả")
            @Html.TextArea("Description", Model.Description, new { @class = "form-control", rows = "4", placeholder = "Nhập mô tả sản phẩm" })
        </div>

        <div class="form-group">
            @Html.Label("Ảnh sản phẩm - ")
            <label>Url hiện tại: @Model.Image</label>
            <input asp-for=@(Model.ImageUrl) type="file" class="form-control" accept="image/*" required/>
        </div>
        <br />
        <button type="submit" class="btn btn-success">Cập nhật</button>
        <a href="/EditAccountInfor/@Model.Id" class="btn btn-warning">Thêm thông tin tài khoản/key</a>
        <a href="/Product-List" class="btn btn-danger">Thoát</a>
    }
</div>
