@model ProductModel
@{
    ViewData["Title"] = "Edit Product";
}

<div class="justify-content-center" style="padding-bottom:200px;">
    @using (Html.BeginForm("Edit", "Product", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <h3>Sửa thông tin sản phẩm</h3>
        @if (TempData["Notify"] != null)
        {
            <div class="alert alert-success" role="alert">
                @TempData["Notify"]
            </div>
        }
        <div class="form-group">
            @Html.Label("Tên sản phẩm")
            @Html.TextBox("Name", Model.Name, new { @class = "form-control", placeholder = "Nhập tên sản phẩm" })
        </div>

        <div class="form-group">
            @Html.Label("ID Danh mục sản phẩm")
            @Html.TextBox("CategoryId", Model.CategoryId, new { @class = "form-control", placeholder = "Nhập ID Danh mục" })
            <p>Xem ID Danh mục <a style="text-decoration:none" href="/IDView">tại đây</a></p>
        </div>

        <div class="form-group">
            @Html.Label("Thương hiệu")
            @Html.TextBox("Brand", Model.Brand, new { @class = "form-control", placeholder = "Nhập thương hiệu" })
        </div>

        <div class="form-group">
            @Html.Label("Số lượng")
            @Html.TextBox("Quantity", Model.Quantity, new { @class = "form-control", type = "number", placeholder = "Nhập số lượng" })
        </div>

        <div class="form-group">
            @Html.Label("Ngày nhập")
            @Html.TextBox("Date_Import", Model.Date_Import.ToString("yyyy-MM-dd"), new { @class = "form-control", type = "date" })
        </div>

        <div class="form-group">
            @Html.Label("Giá")
            @Html.TextBox("Price", Model.Price, new { @class = "form-control", type = "number", step = "0.01", placeholder = "Nhập giá" })
        </div>

        <div class="form-group">
            @Html.Label("Mã giảm giá")
            @Html.TextBox("Coupon", Model.Coupon, new { @class = "form-control", placeholder = "Mã giảm giá" })
        </div>

        <div class="form-group">
            @Html.Label("Mô tả")
            @Html.TextArea("Description", Model.Description, new { @class = "form-control", rows = "4", placeholder = "Nhập mô tả sản phẩm" })
        </div>

        <div class="form-group">
            @Html.Label("Ảnh sản phẩm")
            <input asp-for=@(Model.ImageUrl) type="file" class="form-control" accept="image/*" required/>
        </div>
        <br />
        <button type="submit" class="btn btn-success">Cập nhật</button>
        <a href="/Update" class="btn btn-danger">Thoát</a>
    }
</div>
